* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  margin: 40px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 1280px;
  height: 1920px;
  min-width: 1280px;
  min-height: 1920px;
  max-width: 1280px;
  max-height: 100000000px;
}

.extension {
  border-radius: 10px;
  border-style: solid;
  padding: 15px;
  
  border-width: 5px;
  border-color: dimgray;
  
  box-shadow: 15px 15px 0px lightgray;
  
  width: 400px;
  
  display: block;
  align-items: center;
  justify-content: center;
  
  margin-top: 25px;
}

.extension img {
  border-radius: 15px;
  width: 350px;
  margin-left: 25px;
}

.extension h2 {
  font-weight: bolder;
}
.extension p.desc {
  font-weight: bold;
}

.extension-button {
  color: white;
  border-style: none;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  font-weight: bolder;
}
.extension-buttons:hover .extension-button {
  cursor: pointer;
}
.extension-button:hover {
  cursor: pointer;
}
.extension-button[data-copy="code"] {
  background-color: green;
}
.extension-button[data-copy="url"] {
  background-color: red;
}
